[Unit]
Description={{app_name}} Service
After=ntwork.target network-online.target

[Service]
WorkingDirectory={{app_dir}}
User={{app_user}}
Group={{app_user}}


Environment=PATH={{ruby_dir}}/bin:/usr/local/bin:/usr/bin:/bin
Environment=APP_ENV=production
ExecStart={{ruby_dir}}/bin/ruby -S \
  bundle exec ruby zhdk-agw-auth-system.rb \
  -c /etc/madek/{{app_name}}_config.yml

Restart=always
RestartSec=3s
RuntimeMaxSec=86400


[Install]
WantedBy=multi-user.target

# vi: ft=sh
