- name: remove possibly exisiting archive
  file:
    path: '{{playbook_dir}}/tmp/{{app_name}}.tar.gz'
    state: absent
  delegate_to: localhost

- name: clean/remove existing application dir {{app_dir}}
  file:
    path: '{{app_dir}}'
    state: absent

- name: create empty '{{app_dir}}'
  file:
    path: '{{app_dir}}'
    state: directory
    owner: '{{app_user}}'
    recurse: yes

- name: copy service files
  copy:
    src: '{{role_path}}/../../../{{item}}'
    dest: '{{app_dir}}'
    owner: '{{app_user}}'
    mode: 'preserve'
  with_items:
    - zhdk-agw-auth-system.rb
    - Gemfile
    - Gemfile.lock
    - .tool-versions
