- name: make sure `/etc/madek/' exists
  file:
    path: /etc/madek
    state: directory
    mode: '0755'

- name: install config
  template:
    src: config.yml
    dest: '/etc/madek/{{app_name}}_config.yml'
    mode: '0640'
    owner: root
    group: '{{app_user}}'

- name: copy service file
  template:
    src: 'madek-auth.service'
    dest: /etc/systemd/system/{{app_name}}.service
    mode: 0644

- name: restart {{app_name}}.service
  service:
    name: '{{app_name}}.service'
    state: restarted
    daemon_reload: yes
    enabled: yes
